body {
    background: linear-gradient(#000046, #1cb5e0);
}
h1{
	text-align: center;
    color: white;
	/*ketebalan font*/
	font-weight: 100;
}
 
.tulisan_login{
	text-align: center;
    color:#232323;
	/*membuat semua huruf menjadi kapital*/
	text-transform: uppercase;
    font-size: 20;
}
 
.kotak_login{
	width: 600px;
	background: white;
	/*meletakkan form ke tengah*/
	margin: 300px auto;
	padding: 50px 50px;
}
 
label{
	font-size: 11pt;
    color:#232323;
}
 
.form_login{
	/*membuat lebar form penuh*/
	box-sizing : border-box;
	width: 80%;
	padding: 10px;
	font-size: 11pt;
	margin-bottom: 60px;
    color:#232323;
}
 
.tombol_login{
	background:  #1cb5e0;
	color: white;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
}
 
.ahref{
	color: #232323;
	text-decoration: none;
	font-size: 10pt;
}